/* Global Settings */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    overflow: hidden;
}

/* Hero Text */
.title {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.25rem;
    font-weight: 400;
    text-align: center;
}

/* Image Slider */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.slide.current {
    opacity: 1;
}

.slide:nth-child(3) {
    background: url('img/hero01.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.slide:nth-child(4) {
    background: url('img/hero02.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.slide:nth-child(5) {
    background: url('img/hero03.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.slide:nth-child(6) {
    background: url('img/hero04.jpg') no-repeat 50% 50%;
    background-size: cover;
}

/* Image Slider Arrows */
.arrow-buttons button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow-buttons button:hover {
    color: rgba(0, 0, 0, 0.4);
}

.arrow-buttons button#previous {
    position: absolute;
    top: 50%;
    left: 10%;
}

.arrow-buttons button#next {
    position: absolute;
    top: 50%;
    right: 5%;
}

/* Side Menu */
.menu-strip {
    background: #fff;
    position: fixed;
    width: 64px;
    height: 100vh;
    z-index: 2;
}

.logo, .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    top: 5%;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.875rem;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.toggle-btn {
    top: 10%;
}

#slide-menu {
    position: absolute;
    height: 100%;
    width: 200px;
    background: #fff;
    left: -200px;
    z-index: 1;
    transition: .4s;
}

#slide-menu a {
    text-decoration: none;
    color: #000;
}

#slide-menu a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#slide-menu ul li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    padding: 20px;
}

#slide-menu.active-large {
    left: 64px;
}

#slide-menu.active-small {
    left: 0px;
}

/* Social Media Icons */
.media {
    position: absolute;
    top: 46%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.media ul {
    padding: 0;
    text-align: center;
}

.media ul li {
    display: inline-block;
    margin: 1rem;
    font-size: 1.125rem;
    cursor: pointer;
}

.media ul li:hover {
    color: rgba(0, 0, 0, 0.4);
}

/* Media Queries */
@media (max-width: 900px) {
    .title {
        left: 50%;
    }

    h1 {
        letter-spacing: 1.1rem;
    }

    .menu-strip {
        background: #fff;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .logo {
        top: 50%;
        left: 93%;
    }

    .toggle-btn {
        top: 50%;
        left: 5%;
        margin-left: 10px;
    }

    #slide-menu {
        top: 5%;
    }

    .media {
        left: 50%;
        top: 50%;
    }

    .arrow-buttons button#previous {
        left: 5%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.2rem;
    }

    .media {
        top: 50%;
    }

    .arrow-buttons button#previous, .arrow-buttons button#next {
        top: 47%;
        border: none;
    }
}

@media (max-width: 320px) {
    .logo {
        top: 50%;
        left: 90%;
    }

    .toggle-btn {
        top: 50%;
        left: 10%;
    }

    .arrow-buttons button {
        font-size: 1rem;
    }
}